/* CSS VARS */

:root {
    --bg-bottom: hsl(0 0% 0%);
    --bg-mid: hsl(0 0% 5%);
    --bg-top: hsl(0 0% 10%);

    --text-lt: hsl(0 0% 95%);
    --text-dk: hsl(0 0% 70%);

    --border: hsl(0 0% 30%);
    --gradient: linear-gradient(0deg, var(--bg-mid) 95%, var(--bg-top));
    --gradient-hover: linear-gradient(0deg, var(--bg-mid), var(--bg-top));

    --highlight: hsl(0 0% 60%);
}

/* STYLES */

body {
    background-color: var(--bg-bottom);
    color: var(--text-dk);
}

header {
    display: flex;
    max-width: 1440px;
    background-color: var(--bg-mid);
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 10vh;
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
}

button {
  background-color: var(--bg-top);
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
  color: var(--text-lt);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
}

button:hover,
button:focus {
  background: var(--gradient-hover);
}

.mainToDo {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.textCardSection {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textCard {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
}

.imgSection {
    grid-column: 2 / 3;
}

footer {
    height: 10vh;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
}

.mainSection {
    height: 90vh;                
    box-sizing: border-box;
    max-width: 1440px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr;
    gap: 20px;
}

.mainHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    box-sizing: border-box;
    height: 10vh;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    gap: 20px;
}

.pastDueDiv,
.dueTodayDiv,
.upcomingDiv {
    width: 100%;
    height: 100%;
    min-width: 0;
}

#pastDueText {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
}

#dueTodayText {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
}

#upcomingText {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
}

#pastDueSection {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-y: auto;
}

#todaySection {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow-y: auto;
}

#upComingSection {
    background-color: var(--bg-mid);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    overflow-y: auto;
}

.toDoCard {
    background-color: var(--bg-top);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
}

.projectCard {
    background-color: var(--bg-top);
    border-radius: 12px;
    border: solid 1px var(--border);
    border-top: solid 1px var(--highlight);
    background: var(--gradient-hover);
    padding: 1rem;
}

dialog {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    border: none;
    border-radius: 0.38em;
}